@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800;900&display=swap');

:root {
  --color-primary: #7846dd;
  --color-accent: #9f70fc;
  --color-dark: #0b131c;
  --color-light: #F8FAFC;
  --color-pop: #dbfe52;
  --color-white: #FFFFFF;
  --color-gray: #6b6e7e;
  --font-family: 'Manrope', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--color-dark);
  background: var(--color-white);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}
